<section class="home swiper-container" id="home">
  <div class="home-slider swiper-wrapper">
    <div class="item swiper-slide">
      <img src="/img/slider1.jpg" alt="" />
      <div class="content">
        <h3>Online Shopping</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a href="#"><button class="btn">Shop Now</button></a>
      </div>
    </div>
    <div class="item swiper-slide">
      <img src="/img/slider2.jpg" alt="" />
      <div class="content">
        <h3>Online Shopping</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a href="#"><button class="btn">Shop Now</button></a>
      </div>
    </div>
    <div class="item swiper-slide">
      <img src="/img/slider3.jpg" alt="" />
      <div class="content">
        <h3>Online Shopping</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a href="#"><button class="btn">Shop Now</button></a>
      </div>
    </div>
    <div class="item swiper-slide">
      <img src="/img/slider4.png" alt="" />
      <div class="content">
        <h3>Online Shopping</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a href="#"><button class="btn">Shop Now</button></a>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</section>
<!--End Of Home Section-->
<section class="product" id="product">
  <h1 class="heading"><span>New Product</span></h1>
  <div class="box-container">
    <div class="box">
      <div class="img">
        <img src="https://cdn.hipwallpaper.com/i/39/89/SB1QIU.jpg" alt="" />
      </div>
      <div class="info">
        <h3>Product Name</h3>
        <div class="Details">
          <strong class="price">$500/-<span>$1000</span></strong>
          <div class="starts">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
      <div class="overlay">
        <a href="#" style="--i: 1" class="fa fa-heart"></a>
        <a href="#" style="--i: 2" class="fa fa-shopping-cart"></a>
        <a href="#" style="--i: 3" class="fa fa-search"></a>
      </div>
    </div>
    <!--1-->
    <div class="box">
      <div class="img">
        <img src="https://cdn.hipwallpaper.com/i/39/89/SB1QIU.jpg" alt="" />
      </div>
      <div class="info">
        <h3>Product Name</h3>
        <div class="Details">
          <strong class="price">$500/-<span>$1000</span></strong>
          <div class="starts">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
      <div class="overlay">
        <a href="#" style="--i: 1" class="fa fa-heart"></a>
        <a href="#" style="--i: 2" class="fa fa-shopping-cart"></a>
        <a href="#" style="--i: 3" class="fa fa-search"></a>
      </div>
    </div>
    <!--2-->
    <div class="box">
      <div class="img">
        <img src="https://cdn.hipwallpaper.com/i/39/89/SB1QIU.jpg" alt="" />
      </div>
      <div class="info">
        <h3>Product Name</h3>
        <div class="Details">
          <strong class="price">$500/-<span>$1000</span></strong>
          <div class="starts">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
      <div class="overlay">
        <a href="#" style="--i: 1" class="fa fa-heart"></a>
        <a href="#" style="--i: 2" class="fa fa-shopping-cart"></a>
        <a href="#" style="--i: 3" class="fa fa-search"></a>
      </div>
    </div>
    <!--3-->
    <div class="box">
      <div class="img">
        <img src="https://cdn.hipwallpaper.com/i/39/89/SB1QIU.jpg" alt="" />
      </div>
      <div class="info">
        <h3>Product Name</h3>
        <div class="Details">
          <strong class="price">$500/-<span>$1000</span></strong>
          <div class="starts">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
      <div class="overlay">
        <a href="#" style="--i: 1" class="fa fa-heart"></a>
        <a href="#" style="--i: 2" class="fa fa-shopping-cart"></a>
        <a href="#" style="--i: 3" class="fa fa-search"></a>
      </div>
    </div>
    <!--4-->
    <div class="box">
      <div class="img">
        <img src="https://cdn.hipwallpaper.com/i/39/89/SB1QIU.jpg" alt="" />
      </div>
      <div class="info">
        <h3>Product Name</h3>
        <div class="Details">
          <strong class="price">$500/-<span>$1000</span></strong>
          <div class="starts">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
      <div class="overlay">
        <a href="#" style="--i: 1" class="fa fa-heart"></a>
        <a href="#" style="--i: 2" class="fa fa-shopping-cart"></a>
        <a href="#" style="--i: 3" class="fa fa-search"></a>
      </div>
    </div>
    <!--5-->
    <div class="box">
      <div class="img">
        <img src="https://cdn.hipwallpaper.com/i/39/89/SB1QIU.jpg" alt="" />
      </div>
      <div class="info">
        <h3>Product Name</h3>
        <div class="Details">
          <strong class="price">$500/-<span>$1000</span></strong>
          <div class="starts">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
      <div class="overlay">
        <a href="#" style="--i: 1" class="fa fa-heart"></a>
        <a href="#" style="--i: 2" class="fa fa-shopping-cart"></a>
        <a href="#" style="--i: 3" class="fa fa-search"></a>
      </div>
    </div>
    <!--6-->
  </div>
</section>
<!--End Of product-->
<section class="feature" id="feature">
  <h1 class="heading"><span>Feature Product</span></h1>
  <div class="row">
    <div class="image-container">
      <div class="big-img">
        <img src="https://cdn.hipwallpaper.com/i/39/89/SB1QIU.jpg" alt="" />
      </div>
      <div class="small-image">
        <img src="https://cdn.hipwallpaper.com/i/39/89/SB1QIU.jpg" alt="" class="img-active" />
        <img src="http://getwallpapers.com/wallpaper/full/f/7/6/49163.jpg" alt="" />
        <img src="https://cdn.hipwallpaper.com/i/39/89/SB1QIU.jpg" alt="" />
        <img src="https://cdn.hipwallpaper.com/i/39/89/SB1QIU.jpg" alt="" />
      </div>
    </div>
    <div class="content">
      <h3>Best Product</h3>
      <div class="stars">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <span>100k review</span>
      </div>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      <strong class="price">100$<span>1500$</span></strong>
      <a href="#"><button class="btn">Buy Now</button></a>
    </div>
  </div>
</section>
<!--End Of feature-->
<section class="gallery" id="gallery">
  <h1 class="heading"><span>gallery</span></h1>
  <ul class="controls">
    <li class="btn active" data-filter="all">all</li>
    <li class="btn" data-filter="shoes">shoes</li>
    <li class="btn" data-filter="jacket">jacket</li>
    <li class="btn" data-filter="mobile">mobile</li>
    <li class="btn" data-filter="watch">watch</li>
  </ul>
  <div class="image-container">
    <div class="box shoes">
      <div class="image view view-fourth">
        <img src="http://getwallpapers.com/wallpaper/full/f/7/6/49163.jpg" alt="" />
        <div class="mask">
          <h3>New Style</h3>
          <span>This Is A New Style</span><br />
          <span>Wonderful Style</span>
          <a href="#" class="info">Read More</a>
        </div>
      </div>
      <div class="info">
        <h3>New Shoes</h3>
        <div class="subinfo">
          <strong class="price">$500</strong>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="box shoes">
      <div class="image view view-fourth">
        <img src="http://getwallpapers.com/wallpaper/full/f/7/6/49163.jpg" alt="" />
        <div class="mask">
          <h3>New Style</h3>
          <span>This Is A New Style</span><br />
          <span>Wonderful Style</span>
          <a href="#" class="info">Read More</a>
        </div>
      </div>
      <div class="info">
        <h3>New Shoes</h3>
        <div class="subinfo">
          <strong class="price">$500</strong>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="box shoes">
      <div class="image view view-fourth">
        <img src="http://getwallpapers.com/wallpaper/full/f/7/6/49163.jpg" alt="" />
        <div class="mask">
          <h3>New Style</h3>
          <span>This Is A New Style</span><br />
          <span>Wonderful Style</span>
          <a href="#" class="info">Read More</a>
        </div>
      </div>
      <div class="info">
        <h3>New Shoes</h3>
        <div class="subinfo">
          <strong class="price">$500</strong>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="box jacket">
      <div class="image view view-fifth">
        <img src="http://getwallpapers.com/wallpaper/full/f/7/6/49163.jpg" alt="" />
        <div class="mask">
          <h3>New Style</h3>
          <span>This Is A New Style</span><br />
          <span>Wonderful Style</span>
          <a href="#" class="info">Read More</a>
        </div>
      </div>
      <div class="info">
        <h3>New jacket</h3>
        <div class="subinfo">
          <strong class="price">$500</strong>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="box jacket">
      <div class="image view view-fifth">
        <img src="http://getwallpapers.com/wallpaper/full/f/7/6/49163.jpg" alt="" />
        <div class="mask">
          <h3>New Style</h3>
          <span>This Is A New Style</span><br />
          <span>Wonderful Style</span>
          <a href="#" class="info">Read More</a>
        </div>
      </div>
      <div class="info">
        <h3>New jacket</h3>
        <div class="subinfo">
          <strong class="price">$500</strong>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="box jacket">
      <div class="image view view-fifth">
        <img src="http://getwallpapers.com/wallpaper/full/f/7/6/49163.jpg" alt="" />
        <div class="mask">
          <h3>New Style</h3>
          <span>This Is A New Style</span><br />
          <span>Wonderful Style</span>
          <a href="#" class="info">Read More</a>
        </div>
      </div>
      <div class="info">
        <h3>New jacket</h3>
        <div class="subinfo">
          <strong class="price">$500</strong>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="box mobile">
      <div class="image view view-seventh">
        <img src="http://getwallpapers.com/wallpaper/full/f/7/6/49163.jpg" alt="" />
        <div class="mask">
          <h3>New Style</h3>
          <span>This Is A New Style</span><br />
          <span>Wonderful Style</span>
          <a href="#" class="info">Read More</a>
        </div>
      </div>
      <div class="info">
        <h3>New jacket</h3>
        <div class="subinfo">
          <strong class="price">$500</strong>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="box mobile">
      <div class="image view view-seventh">
        <img src="http://getwallpapers.com/wallpaper/full/f/7/6/49163.jpg" alt="" />
        <div class="mask">
          <h3>New Style</h3>
          <span>This Is A New Style</span><br />
          <span>Wonderful Style</span>
          <a href="#" class="info">Read More</a>
        </div>
      </div>
      <div class="info">
        <h3>New jacket</h3>
        <div class="subinfo">
          <strong class="price">$500</strong>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="box mobile">
      <div class="image view view-seventh">
        <img src="http://getwallpapers.com/wallpaper/full/f/7/6/49163.jpg" alt="" />
        <div class="mask">
          <h3>New Style</h3>
          <span>This Is A New Style</span><br />
          <span>Wonderful Style</span>
          <a href="#" class="info">Read More</a>
        </div>
      </div>
      <div class="info">
        <h3>New jacket</h3>
        <div class="subinfo">
          <strong class="price">$500</strong>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="box watch">
      <div class="image view view-tenth">
        <img src="http://getwallpapers.com/wallpaper/full/f/7/6/49163.jpg" alt="" />
        <div class="mask">
          <h3>New Style</h3>
          <span>This Is A New Style</span><br />
          <span>Wonderful Style</span>
          <a href="#" class="info">Read More</a>
        </div>
      </div>
      <div class="info">
        <h3>New jacket</h3>
        <div class="subinfo">
          <strong class="price">$500</strong>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="box watch">
      <div class="image view view-tenth">
        <img src="http://getwallpapers.com/wallpaper/full/f/7/6/49163.jpg" alt="" />
        <div class="mask">
          <h3>New Style</h3>
          <span>This Is A New Style</span><br />
          <span>Wonderful Style</span>
          <a href="#" class="info">Read More</a>
        </div>
      </div>
      <div class="info">
        <h3>New jacket</h3>
        <div class="subinfo">
          <strong class="price">$500</strong>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="box watch">
      <div class="image view view-tenth">
        <img src="http://getwallpapers.com/wallpaper/full/f/7/6/49163.jpg" alt="" />
        <div class="mask">
          <h3>New Style</h3>
          <span>This Is A New Style</span><br />
          <span>Wonderful Style</span>
          <a href="#" class="info">Read More</a>
        </div>
      </div>
      <div class="info">
        <h3>New jacket</h3>
        <div class="subinfo">
          <strong class="price">$500</strong>
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Of Gallery-->
<section class="service" id="service">
  <h1 class="heading"><span>Best Service</span></h1>
  <div class="box-container">
    <div class="box">
      <img src="http://getwallpapers.com/wallpaper/full/f/7/6/49163.jpg" alt="" />
      <div class="content">
        <h1>Easy Payment</h1>
        <p>Upto 39% off on first purchase</p>
        <a href="#"><button class="btn">Explore</button></a>
      </div>
    </div>
    <div class="box">
      <img src="http://getwallpapers.com/wallpaper/full/f/7/6/49163.jpg" alt="" />
      <div class="content">
        <h1>Fast Service</h1>
        <p>Online Service</p>
        <a href="#"><button class="btn">Explore</button></a>
      </div>
    </div>
  </div>
  <div class="icon-container">
    <div class="icons">
      <i class="fa fa-plane"></i>
      <h3>Fast Delivery</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, dolores
        velit.
      </p>
    </div>
    <div class="icons">
      <i class="fa fa-user-plus"></i>
      <h3>Strong Support</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, dolores
        velit.
      </p>
    </div>
    <div class="icons">
      <i class="fa fa-id-card-o"></i>
      <h3>Easy Payment</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, dolores
        velit.
      </p>
    </div>
    <div class="icons">
      <i class="fa fa-shopping-bag"></i>
      <h3>Fast Shop</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, dolores
        velit.
      </p>
    </div>
  </div>
</section>
<!--End Of Service Section-->
<section class="news">
  <h1>News Letter</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <form action="">
    <input type="email" placeholder="Pleas Enter Your Email" />
    <input type="submit" class="btn" />
  </form>
</section>
